body {
    background-image: url("../Images/Webp.net-resizeimage\ \(1\).jpg");
    margin-left: 20px;
}
.jumbotron {
    /* background-color: rgb(0, 0, 27, 0.9); */
    background: none;
    /* color: rgb(212, 228, 238); */
    color: rgb(221, 220, 159);
    text-align: center;
    padding: 50px;
}

.card-header {
    background-color: rgb(0, 0, 27, 0.9);
    color: rgb(221, 220, 159);
}

#submit {
    background-color: rgb(0, 0, 27);
    
}